@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f5f5f5;
  --color-text: #0a0a0a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
